.banner {
  background-color: rgba(0, 0, 0, 0.192);
  background-blend-mode: multiply;
  background-image: url("../images/banner.jpg");
  background-position: center;
  background-size: cover;
}


.procedure {
  &__text {
    padding: 75px 0;
  }

  &__img {
    width: 638px;
    height: 425px;
  }
}



.callToAction {
  background-color: rgba(0, 0, 0, 0.192);
  background-blend-mode: multiply;
  background-image: url("../images/CTA.jpg");
  background-position: center top;
  background-size: cover;
  
  
}